workflows/ZigZag - Get pending sales.json
{
  "name": "ZigZag - Get pending sales",
  "nodes": [
    {
      "parameters": {
        "path": "b88ec717-d639-4c0c-aec4-98f7a3e3bec2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        16
      ],
      "id": "6628ac4b-1bf2-4fa3-9f3d-c417193c17a9",
      "name": "Webhook",
      "webhookId": "b88ec717-d639-4c0c-aec4-98f7a3e3bec2"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst previous = new Date();\nprevious.setMonth(now.getMonth() - 1)\n\nconst months = [\n  \"ENERO\", \"FEBRERO\", \"MARZO\", \"ABRIL\", \"MAYO\", \"JUNIO\",\n  \"JULIO\", \"AGOSTO\", \"SEPTIEMBRE\", \"OCTUBRE\", \"NOVIEMBRE\", \"DICIEMBRE\"\n];\nif (now.getMonth() == 0 || now.getMonth() == 11) {\n  return [{\n    months: [months[now.getMonth()]],\n  }];\n} else {\n  return [{\n    months: [months[now.getMonth()], months[previous.getMonth()]],\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        16
      ],
      "id": "f450723d-584f-493b-8390-53293532f286",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1WonT0HEFkY-fNyO2fwy0qvqFWvnQtbPm4jYJO4JXwjE",
          "mode": "list",
          "cachedResultName": "ZigZag 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WonT0HEFkY-fNyO2fwy0qvqFWvnQtbPm4jYJO4JXwjE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.months }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "B4:L44"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        208
      ],
      "id": "c7504309-ace3-4394-97db-1bc6dfbed5df",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "Arlwv81Uo97ZC6Md",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "months",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -800,
        16
      ],
      "id": "02859424-5425-4f52-ab17-76dc56b359d2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47a92961-20f5-4ebb-b7b1-9d6f657fb3e5",
              "leftValue": "={{ $json.Producto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7b6b4b91-41a2-4d2b-b754-64d361f7d521",
              "leftValue": "={{ $json.Cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -208,
        208
      ],
      "id": "585e510b-8e32-4209-bd02-fed1d88e00b6",
      "name": "Remove_empty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "350b8704-5efd-4359-bf75-89b18493ed5b",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Pendiente",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "de38cbdb-c7aa-48f4-8c5f-68f9356e4874",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "faafe4a4-6f91-4cf8-8392-2703cb3d68ad",
              "leftValue": "={{ $json.Pago }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        0,
        208
      ],
      "id": "117f538e-61b1-4975-a5f0-6010b80d47ae",
      "name": "remove_paids"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  'pending': {\n      'id': {{ $('Split Out').item.json.months }}-{{ $json['#'] }},\n      'client':  {{ $json.Cliente }},\n      'date': '{{ $json.Dia }}',\n      'product': {{  $json.Producto }} | {{ $json.Tela }},\n      'price': {{ $json.Precio }},\n      'month': {{ $('Split Out').item.json.months }},\n      'row': {{ $json.row_number + 3 }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        208
      ],
      "id": "774113bf-09a4-4662-b2cf-369135afe1a0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "pending",
              "renameField": true,
              "outputFieldName": "pendings"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3383c230-959b-4a64-90d1-22364034f54b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        16
      ],
      "id": "07116d34-e982-4665-b4fc-bc9dc0b5b237",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        0
      ],
      "id": "22379ad1-a482-4a23-93a2-735a0d88f3ec",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Remove_empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove_empty": {
      "main": [
        [
          {
            "node": "remove_paids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove_paids": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "93041a7a-a6c9-4f21-b955-4803010e68a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "090f2a0f1b98b928f216e93c73225715993b9308f79f014801ecbcdcf413cefd"
  },
  "id": "9CyqU05Z9a8u3yyFvyNbM",
  "tags": []
}